<div class="container content">
  <div class="row"> <!--una fila de contenido-->
    <div class="col-md-6"> <!--maneja el espacio horizontal en la pantalla de maximo 12 columnas-->
      Hola

    </div>
    <div class="col-md-6"> <!--maneja el espacio horizontal en la pantalla de maximo 12 columnas-->
      Mundo
    </div>
  </div>
</div>
