<!--<app-destino-viaje *ngFor="let x of destinos" [destino]="x"></app-destino-viaje> 
<ul>
  <li *ngFor="let x of destinos" >
    {{x}}
    </li>
</ul> -->

<div	class="container	content">
  <div	class="row">
          <div	class="col-md-6	offset-md-3">
                  <span	class="anchor"	id="formLogin"></span>
                  <!-- form	card	login	with	validation	feedback	-->
                  <div	class="card	card-outline-secondary">
                          <div	class="card-header">
                                  <h3	class="mb-0">Whishlist</h3>
                          </div>
                          <div	class="card-body">
                                 <app-form-destino-viaje (onItemAdded)="agregado($event)"></app-form-destino-viaje>
                          </div>
                  </div>
          </div>
  </div>
  <hr	class="mb-5">
  <div	class="row row-flex">
                <app-destino-viaje 
                        *ngFor="let d of destinosApiClient.getAll(); let i=index"
                        [destino]="d"
                        [idx] ="i"
                        (onClicked) = 'elegido(d)'
                        appEspiame
                 >
              </app-destino-viaje> <!-- onClicked-->

              <!--"let d of all; let i=index" -->
                 <!--(Clicked) es el vento que creamos en destino viaje y aqui se captura -->
         <!--<app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje> --> 
          <!-- ngFor recibe la expresion, variable iterable, destinos, d es el iterador-->
          <!-- [destino es la variable tipo input = a la variable valida en el for, osea el iterador d]-->
  </div>

  <hr	class="mb-5">

  <div	class="row row-flex">
          <h5>Actividad</h5>
          <ul>
                <li *ngFor="let u of updates;">{{u}}</li>
          </ul>
                
  </div>

</div>

<!-- <form>
                                      <div	class="form-group">
                                          <label	for="nombre">Nombre</label>
                                          <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre> 
                                        </div>
                                        <div	class="form-group">
                                            <label	for="Imagen	Url">Imagen	Url</label>
                                            <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
                                        </div>
                                        <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                                    </form>-->