<form
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['url'].value)">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
       [formControl]="fg.controls['nombre']">
      <!-- <ul>
         <li *ngfor="let r of searchResults;">{{r}}</li>
       </ul> -->
      <div *ngIf="fg.controls['nombre'].hasError('required')">nombre requerido!</div> <!--validador especial-->
      <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido!</div> <!--si no es valido nombre, desplegar msj: nombre invalido-->
      <div *ngIf="fg.controls['nombre'].hasError('minLongNombre')">nombre debe tener al menos {{minLongitud}} de largo!</div> <!--validador especial-->
  </div>
  <div class="form-group">
      <label for="Imagen URL">Imagen Url</label>
      <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." 
      [formControl]="fg.controls['url']">
  </div>
  <button type ="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>